/* Hero Section Styling */
.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background: linear-gradient(to right, #edf7ed, #d4e4d7); /* Green gradient background */
  min-height: 100vh;
  /* background: url('/home/uki-jaffna/Documents/orga3/my-orga-frontend/src/img/green-leaves-8157318_640.webp');
  background-size: cover; */
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.hero-text {
  flex: 1;
  padding-right: 50px;
  color: #064e3b; /* Dark green text */
}

.hero-text h1 {
  font-size: 3.5rem;
  font-weight: bold;
  color: #0b6838; /* Bold green color for the heading */
}

.hero-text p {
  font-size: 1.5rem;
  margin: 20px 0;
}

.hero-buttons {
  margin-top: 20px;
}

.primary-btn {
  background-color: #22c55e; /* Green button */
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.primary-btn:hover {
  background-color: #16a34a;
}

.secondary-btn {
  background-color: white;
  color: #22c55e;
  padding: 15px 30px;
  border: 2px solid #22c55e;
  border-radius: 50px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.secondary-btn:hover {
  background-color: #22c55e;
  color: white;
}

.hero-image img {
  width: 500px;
  border-radius: 20px;
}
