.about-page {
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* Lightest green */
    padding: 250px;
}

.about-header {
    text-align: center;
    margin-bottom: 40px;
    color: #2E8B57; /* Darkest green */
}

.values {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.value {
    text-align: center;
    width: 20%;
    padding: 50px;
    border: 1px solid #D2B48C; /* Light brown */
    border-radius: 5px;
    background-color: #55A44E; /* Lightest green */
}

.value h3 {
    color: #2E8B57; /* Darkest green */
}

.value p {
    color: #558B2F; /* Medium green */
}

.mission {
    text-align: center;
    margin-bottom: 40px;
    color: #2E8B57; /* Darkest green */
}

.learn-more {
    background-color: #2E8B57; /* Darkest green */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

footer {
    text-align: center;
    font-size: 12px;
    color: #558B2F; /* Medium green */
}