/* Orders.css */

  
  h1 {
    text-align: center;
    /* color:white; */
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
    font-size: 20px;
  }
  
  th {
    background-color: #4CAF50;
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }
  
  button {
     background-color: #4CAF50; 
     color: #fff;
    padding: 10px 15px;
    border: 2px solid #481E14;
    cursor: pointer;
    border-radius: 6px;
    font-weight: bold;
  } 
  
   button:hover {
    background-color: #bdb3b3;
  }
  .pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  } 
  
   button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  } 
  
   button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  } 

 
